/* estilos componentes */
$bordeComponente: 1px solid black;

/* estilos listas */
$estiloLista: none;

/* z indexes */
$zIndexBackground: 1;
$zIndexComponent: 10;

/* Fuentes */
$fuentePrincipal: 'MinecraftiaRegular';
$fuenteTituloCarrusel: fantasy;