* {
    margin: 0;
    height: 100%;
}

.backgroundImage {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('./assets/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
}

.transparent-base {
    /* Transparent background */
    background-color: rgba(250, 235, 215, 0.356);
    border: 1px solid black;
}

.transparent-component {
    /* Transparent background */
    border: 1px solid black;
    background-color: rgba(247, 238, 228, 0.438);
}

.mainGrid {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav mainContent"
        "footer footer" ;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 20% 80%;
    margin-left: 1%;
    margin-right: 1%;
}

/* Header */
.headerArea {
    grid-area: header;
}

.header {
    z-index: 10;

    /* Ancho y Alto */
    /* height: auto; */

    /* margin  */
    margin-bottom: 1%;

    /* display
    display: flex; */
}

/* Navigation */
.navArea {
    grid-area: nav;
}

.navPanel {
    z-index: 10;

    /* Margin */
    margin-right: 5%;
}

.navListItem {
    /* Ancho y Alto */
    min-width: 20%;
    height: 20%;
    width: 70%;
}

.navItem {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;

    font-size: 1.25vw;
}

    a.navItem, a.navItem:active {
        /* Styles */
        text-decoration: none;
        color: black;

        font-family: 'MinecraftiaRegular';
        font-weight: bold;
        font-style: normal;
    }

/* Main */
.mainContenArea {
    grid-area: mainContent;
}

.mainContent{
    z-index: 10;
}

/* Footer */
.footerArea {
    grid-area: footer;
}

.footer {
    z-index: 10;
    
    /* Margin */
    margin-top: 1%;
}

.fundador {
    height: 85%;
    padding: 0.5%;
}

.redesFundador {
    list-style: none;
    height: 80%;
    font-size: 1vw;
}

.redesFundador li a, .redesFundador li a:active {
    color: inherit;
    text-decoration: none;
}

.redesLogo {
    width: 20%;
}

.tituloFundador{
    font-size: 1vw;
    height: fit-content;
}

    /* Inicio */

    .tituloDescripcion {
        font-family: 'MinecraftiaRegular';
        font-weight: normal;
        font-style: normal;
        font-size: 2.25vw;
    }

    .tituloDescripcion img {
        width: 11vw;
    }

     .descripcion {
        border-radius: 20px;
    }

    .descripcion p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.3vw;
    }

    /* Creadores */

    .tituloCreadores {
        font-family: 'MinecraftiaRegular';
        height: fit-content;
    }

    .creadores {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
        align-items: flex-start;
        overflow-y: scroll;

        list-style: none;
        padding: 0;

        height: auto;
        width: 100%;
    }

        .creador {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            /* Transparent background */
            background-color: rgba(247, 238, 228, 0.438);

            width: 250px;
            height: max-content;
            margin: 2%;
            border-radius: 20px;
        }
            .creador hr {
                width: auto;
                height: 5px;
                background-color: black;
            }

                 .creador .tituloCreador {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                     .creador .tituloCreador .imagenCreador {
                        width: 30px;
                        border-radius: 50%;
                    }

                    .creador .tituloCreador .nombreCreador {
                        text-align: center;
                        height: fit-content;
                        margin: 10px;
                    }

            .creador .descripcionCreador {
                list-style: none;
                padding: 15px;
                height: fit-content;
            }

                .creador .descripcionCreador li {
                    height: fit-content;
                    text-align: center;
                    text-transform: uppercase;
                }

    /* Nuestros Juegos */
    
    .tituloJuegos {
        font-family: 'MinecraftiaRegular';
        height: fit-content;
    }

    .nuestrosJuegos {
        margin: 1.5%;
        overflow-y: scroll;
    }
    
         .nuestrosJuegos .juego {
            width: auto;
            height: auto;
            margin: 1.5%;
            border-radius: 15px;
            /* Transparent background */
            background-color: rgba(247, 238, 228, 0.438);
        }
             .nuestrosJuegos .juego .tituloJuego {
                width: 100%;
                text-align: center;
            }

            .nuestrosJuegos .juego hr {
                width: auto;
                height: 5px;
                background-color: black;
            }

            .nuestrosJuegos .juego .descripcionJuego {
                overflow-wrap: break-word;
                padding: 10px;
            }

    /* contactanos */

    .tituloContactanos {
        font-family: 'MinecraftiaRegular';
        height: fit-content;
    }
    
    .formulario {
        padding: 0;
        border: none;
    }

        .formulario .contactanos .inputNombreApellido {
            height: 10%;
            margin: 5%;
        }

            #inputNombre, #inputApellido {
                height: auto;
                margin: 2.5%
            }

        .formulario .contactanos .inputComentario {
            height: auto;
            width: 100%;
        }

            .formulario .contactanos .inputComentarios #inputTextArea{
                display: block;
                height: auto;
            }

    /* En vivo */

    .canales {
        list-style: none;
        padding: 0;
        width: 100%;
        overflow-y: scroll;
    }

        .canales .canal {
            width: 90%;
            height: 90%;
            margin: 2.5%;
        }

@media (max-width: 991px) {
    .mainGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 65% 15%;
        grid-template-areas: 
            "header "
            "nav"
            "mainContent"
            "footer";
    }

    .header img {
        transform: scale(0.8, 1);
    }

    .navPanel {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1%;
    }

    .navList {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .navListItem {
        height: 100%;
    }

    .navItem {
        font-size: 2.25vw;
    }

    .tituloDescripcion{
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 1.25vw;
    }

    .tituloDescripcion img {
        width: 20vw;
    }

    .descripcion p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
    }


    .tituloFundador{
        font-size: medium;
        margin-bottom: 5%
    }

    .redesFundador li {
        margin-bottom: 8%;
        font-size: 1vw
    }
    .redesLogo{
        margin-right: 1%;
        transform: scale(1.3);
    }
}